* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-decoration-color: white;
}

body {
    background-color: rgba(5, 13, 32, 255);
}

a {
    text-decoration: none;
    color: #FFF;
    font-family: "Gill Sans MT", Calibri, sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 100px;
}

a:hover {
    color: #066882
}

header {
    padding: 0 2rem;
}

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 4em;
    z-index: 999;
    margin: 0 auto;
    justify-content: space-between;
}


.logo {
    height: 120px;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 998;
    position: relative;
    transform: none;
}

.logo-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 300vh;
    position: relative;
    padding: 0 4em;
}

.links {
    display: flex;
    gap: 1rem;
}

.onTopBtn {
    position: fixed;
    right: 0;
    top: 95%;
    height: 40px;
    width: 40px;
}

.content {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 8, 19);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}

.button:hover {
    color: black;
}

#popUpMain {
    position: fixed;
    top: 13%;
    display: none;
    height: 80%;
    width: 90%;
    z-index: 999;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    bottom: 13%;
    overflow: scroll;
}

.leftNav,
.rightNav {
    display: flex;
    gap: 200px;
}

#popUp-content {
    color: white;
    font-family: "Gill Sans MT", Calibri, sans-serif;
    font-weight: 400;
    font-size: 25px;
    transition: 0.5s;
    gap: 2rem;
}
.firstOffer, .secondOffer, .thirdOffer, .fourthOffer, .fifthOffer, .sixthOffer, .seventhOffer, .eightOffer, .ninthOffer {
    display: flex;
    flex-direction: column; /* column????*/
    justify-content: flex-start;
    width: 100%;
    margin: 1rem 0;
}
.firstOffer img, .secondOffer img, .thirdOffer img, .fourthOffer img, .fifthOffer img, .sixthOffer img, .seventhOffer img, .eightOffer img, .ninthOffer img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}
.firstOffer p, .secondOffer p, .thirdOffer p, .fourthOffer p, .fifthOffer p, .sixthOffer p, .seventhOffer p, .eightOffer p, .ninthOffer p {
    width: 55%;
    margin: 0;
    text-align: center;
    align-items: center;
}
.offer-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.firstOffer h2, .secondOffer h2, .thirdOffer h2, .fourthOffer h2, .fifthOffer h2, .sixthOffer h2, .seventhOffer h2, .eightOffer h2, .ninthOffer h2 {
    margin-bottom: 1rem;
}

#popUpClose {
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    font-size: 30px;
}

#popUpClose:hover {
    Background: linear-gradient(#642bff, #ff22e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navBar button {
    background: none;
    border: none;
    color: white;
    font-family: "Gill Sans MT", Calibri, sans-serif;
    font-size: 30px;

}

#navBar button:hover {
    Background: linear-gradient(#642bff, #ff22e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.massage, .massage2, .massage3{
    display: flex;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-right: 20px;

}

.

@media screen and (max-width: 1200px) {
    .rightNav, .leftNav {
        display: none;
    }

    .mobileMenu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    .mobileMenuContent {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px;
        width: 200px;
        border-radius: 10px;
        z-index: 1001;
    }

    .mobileMenu.open .mobileMenuContent {
        display: block;
    }

    .mobileMenuBtn {
        background: none;
        color: white;
        font-size: 40px;
        border: none;
        cursor: pointer;
    }

    .mobileMenuContent button{
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .mobileMenuContent button:hover {
        Background: linear-gradient(#642bff, #ff22e6);
    }
    .popUpMenu{
        display: block;
    }
}

.mobileMenu{
    display: none;
}

.mobileMenu.open .mobileMenuContent {
    display: block;
}