.offScreenMenu{
    background-color: #3a1158;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.offScreenMenu.active{
    right: 0;
}
nav {
    padding: 1rem;
    display: flex;
    background-color: burlywood;
}
.hamburgerMenu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}
.hamburgerMenu span{
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.hamburgerMenu span:nth-child(1) {
    top: 25%;
}
.hamburgerMenu span:nth-child(3) {
    top: 75%;
}
.hamburgerMenu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburgerMenu.active span:nth-child(2) {
    opacity: 0;
}
.hamburgerMenu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}